@import url('https://fonts.googleapis.com/css2?family=Akronim&family=Architects+Daughter&family=Bangers&family=Black+Ops+One&family=Bruno+Ace+SC&family=Bungee+Spice&family=Cabin+Sketch&family=Caveat&family=Creepster&family=Dancing+Script&family=East+Sea+Dokdo&family=Eater&family=Ewert&family=Fredericka+the+Great&family=Great+Vibes&family=Henny+Penny&family=Homemade+Apple&family=Instrument+Serif&family=Italianno&family=Jacques+Francois+Shadow&family=Kristi&family=Libre+Barcode+39+Text&family=Liu+Jian+Mao+Cao&family=Londrina+Outline&family=Love+Ya+Like+A+Sister&family=Loved+by+the+King&family=MedievalSharp&family=Monoton&family=Monsieur+La+Doulaise&family=Mountains+of+Christmas&family=Nabla&family=Nanum+Gothic&family=Nunito+Sans&family=Orbitron&family=Pirata+One&family=Press+Start+2P&family=Rajdhani&family=Rampart+One&family=Rubik+80s+Fade&family=Rubik+Burned&family=Rubik+Iso&family=Rubik+Maze&family=Rubik+Microbe&family=Rubik+Moonrocks&family=Rubik+Pixels&family=Rubik+Puddles&family=Rubik+Storm&family=Rubik+Vinyl&family=Rye&family=Sacramento&family=Satisfy&family=Shadows+Into+Light&family=Slackey&family=Tilt+Prism&family=UnifrakturMaguntia&family=Yanone+Kaffeesatz&display=swap');

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik Pixels', sans-serif;
}

html {
    font-size: 62.5%;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.glowing-btn {
    width: 45rem;
    height: 12rem;
    background: none;
    border: 0.7rem solid darkgreen;
    border-radius: 2rem;
    color: darkgreen;
    font-size: 7rem;
    letter-spacing: 2.5rem;
    box-shadow: inset 0 0 3rem darkgreen;
    padding-left: 2.5rem;
    cursor: pointer;
    position: relative;
    perspective: 6rem;
    animation: borderAnim 0.2s linear infinite;
}

.glowing-btn:hover {
    background: rgba(100, 72, 0, 0.358);
    color: orangered;
}

.glowing-btn:hover::after {
    width: 120%;
    height: 120%;
    transform: translate(-50%, 110%) rotateX(45deg) scale(1, 0.35);
    filter: blur(3rem);
    pointer-events: none;
    transition: all 0.3s; 
}

@keyframes borderAnim {
    0% {
        opacity: 0.1;
        border-color: orangered;
    }
    2% {
        opacity: 1;
    }
    4% {
        opacity: 0.1;
        color: orangered;
    }
    8% {
        opacity: 1;
    }
    70% {
        opacity: 0.7;
    }
    100% {
        opacity: 1;
    }
}


.glowing-btn::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 0 6rem darkgreen;
}

.glowing-btn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    background: darkgreen;
    opacity: 0.7;
    transform: translate(-50%, 130%) rotateX(45deg)  scale(1, 0.35);
    filter: blur(3rem);
    pointer-events: none;
}

.glowing-text {
    text-shadow: 0 0 1rem rgba(0, 100, 0, 0.703), 0 0 1rem rgba(0, 100, 0, 0.708);
    animation: textAnim 3s linear infinite;
}

@keyframes textAnim {
    0% {
        opacity: 0.1;
    }
    2% {
        opacity: 1;
    }
    /* 4% {
        opacity: 0.1;
        color: orangered;
    } */
    8% {
        opacity: 0.1;
    }
    9% {
        opacity: 1;
    }
    12% {
        opacity: 0.1;
    }
    20% {
        opacity: 1;
    }
    25% {
        opacity: 0.3;
    }
    25% {
        opacity: 0.3;
    }
    30% {
        opacity: 1;
    }
    70% {
        opacity: 0.7;
    }
    72% {
        opacity: 0.2;
    }
    77% {
        opacity: 0.9;
    }
    100% {
        opacity: 0.9;
    }
}